<script>
    const userId = "<%= user.id %>"
    const profId = "<%= profile.id %>"
</script>
<script src="/scripts/validateProfileForm.js" type="module"></script>
<h2>Edit Profile</h2>
<form id="add-person" action="/profiles/<%= profile.id %>" data-method="PUT">
    <%- include("../partials/profileForm", { profile: profile }) %>
    <button type="submit">Edit Profile ✎</button>
</form>
<a href="/profiles/<%= profile.id %>">Cancel ❌</a>
<%- include("../partials/socialMediaFeed", { hidden : true }) %>  